body{
   box-sizing: border-box  ;
}

#display{
   display:flex;
   gap: 20px;
}

#display div{
   display: flex;
   flex-direction: column;
   border-left: 7px solid limegreen;
   border-radius: 7px;
   padding-left: 5px;
   width: 130px;
   gap: 10px;
}

#display div>p{
   flex: 1;
}