body{
   box-sizing: border-box  ;
}

#display{
   display:flex;
   gap: 20px;
}

#display div{
   background-color: bisque;
   display: flex;
   flex-direction: column;
   border-left: 7px solid limegreen;
   border-radius: 7px;
   padding: 10px;
   width: 300px;
   gap: 10px;
}

#display div>p{
   flex: 1;
}